<footer class="container-fluid" style="background-color: #1b0563;" >
    <div class="row">
        <br>
      <div class="col">
        <br>
        <img src="../../assets/apollo.png" class=" mx-auto d-block img-fluid" width="200px;">
      </div>
        <div class="col" style="color: #ffffff;">
            <br>
        <div class="row">
          <p class="text-center "><img src="../../assets/logo_email.png" class="img-fluid" width="30px;"> apolo@gmail.com</p>
        </div>
        <div class="row">
          <p class="text-center "><img src="../../assets/gps.png" class="img-fluid" width="30px;"> 
            Av. Ing. Carlos Rojas Gutiérrez #2120, Fracc. Valle de la Herradura
          </p>
        </div>
        <div class="row">
          <p class="text-center "><img src="../../assets/logo-tel.png" class="img-fluid" width="30px;">
             786-154-9000
            </p>
        </div>
        </div>
        <div class="col" style="color: #ffffff;">
            <br>
        <p class="text-center">Síguenos en: <br>
          <a href="https://es-es.facebook.com/"><img src="../../assets/facebook_logo.png" class="img-fluid" width="30px;"> </a>
          <a href="https://www.instagram.com/?hl=es-la"><img src="../../assets/logoinsta.png" class="img-fluid" width="30px;"> </a>
          <a href="https://twitter.com/?lang=es"><img src="../../assets/twitter_logo.png" class="img-fluid" width="30px;"> </a>
          <a href="https://www.youtube.com/"><img src="../../assets/youtube_logo.png" class="img-fluid" width="30px;"> </a>
        
        </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p class="text-center" style="color: #ffffff;" >
                Apolo Course Copyright (c) ITSCH 2021
            </p>
            <p class="text-center" style="color: #ffffff;"><a href="https://mail.google.com/mail/u/0/"><img src="" class="img-fluid" width="30px;">APOLO COURSE</a></p>
        </div>
    </div>
</footer>
