<app-menu></app-menu>
<br>
<div class="container">
    <br>
    <h1 style="color: #1b0563;">Realizar registro</h1>
    <section class="container">
      <form action="#" class="was-validated">
        <div class="form-group">
            <label for="user">Nombre de usuario:</label>
            <div class="input-group">
              <div class="input-group-prepend" >
                  <div class="input-group-text" style="background-color: #1b0563;"><i class="bi bi-person-circle" style="color: #ffffff;"></i></div>
              </div>
              <input type="text" name="user" id="nombre" class="form-control" placeholder="Ingrese su nombre de usuario" [(ngModel)]="user" required>
              <div class="valid-feedback">Valid.</div>
             <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          </div>
          <div class="form-group">
            <label for="pswd">Contraseña:</label>
            <div class="input-group">
              <div class="input-group-prepend" >
                  <div class="input-group-text" style="background-color: #1b0563;"><i class="bi bi-lock-fill" style="color: #ffffff;"></i> </div>
              </div>
              <input type="password" name="pass" id="pass"class="form-control" placeholder="Ingrese su contraseña" [(ngModel)]="pass" required>
              <div class="valid-feedback">Valid.</div>
             <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          </div>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nom" id="nom" class="form-control" placeholder="Ingrese su nombre" [(ngModel)]="nombre" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
    <div class="form-group">
        <label for="apellido">Apellidos:</label>
        <input type="text" name="ap" id="ap" class="form-control" placeholder="Ingrese sus apellidos" [(ngModel)]="apellidos" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="apellido">Rol (U para usuarios y A para admins):</label>
      <input type="text" name="ap" id="ap" class="form-control" placeholder="Ingrese sus apellidos" [(ngModel)]="rol" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
  </div>
    <!--<div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Rol</label>
      <select class="form-select" id="inputGroupSelect01">
        <option Selected value="U"  [(ngModel)]="rol">U</option>
        <option value="A">A</option>
      </select>
    </div>-->
    <br>
    <button class="btn btn-primary" (click)="agregar()">
      <i class="fa fa-user-plus align-middle"></i> Registrar</button>
      </form>
      <br>
    </section>
</div>