<app-menu></app-menu>
<br>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 18rem;" ng-cloak>
                <div class="card-header" style="background-color: #1b0563;" >
                    <a style="color: #ffffff;">Eliminar Usuario</a>
                </div>
                <div class="card-body">
                    Seguro que deseas eliminar al Usuario {{nombre}} {{apellidos}} con username {{user}}?
                </div>
                <div class="card-footer text-center" style="background-color: #1b0563;">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-info" routerLink="/users" >
                                NO
                            </button>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <button type="button" class="btn btn-danger" (click)="borrar()">
                                SI
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<br>
